body {
    background-color: #dcdab2;
    background-color: #EEEDDE;
    background-color: #25316D;  
    /* background: url(image/innovation1.png) no-repeat center center fixed;
    background-size: cover; */
}

#foo {
    font-size: 30px;
    position: fixed;
    bottom: 35%;
    right: 7%;
    line-height: 2;
    
  }

a:hover{
    text-decoration: none;
}


hr {
    border: 5px dotted gray;
    width: 50%;
    border-style: solid none none none;
    margin: 5% auto;
}

.me1 {
    width: 100%;
}

.active1{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/*Title*/

.navbar {
    width: 100%;
    height: 90px;
    padding-left: 2%;
    padding-right: 5%;
    position: fixed;
    z-index: 1;
    background-color: white;

}

/* .navbar-brand {
    font-size: 10px;
    color: white;
    font-weight: bolder;
} */

.nav-item {
    padding: 20px;
}
    
.nav-link {
    font-size: 20px;
    font-weight: bold;
    color: white;
}

.navbar-light .navbar-brand {
    font-family: "Ubuntu";
    font-size: 2.5rem;
    font-size: 20px;
    font-weight: bold;
    color: #4e5326;
}

.tt{
    z-index: 1;
    visibility: visible;
}

#title {
    text-align: left;
    padding: 10%;
    /* background-color: #003fec; */
}

.logo{
    padding: 5%;
}





#mynavbutton{
    padding-top: 50px;
    color: white;
    font-size: 50px;
}

.title-heading {
    color: #9EB23B;
    color: white;
    font-size: 90px;
    width: 100%;
    margin: 0%;
    /* line-height: 1.5; */
    font-family: 'Dosis';
    /* font-family: 'Cabin', sans-serif; */
    /* font-family: 'Roboto', sans-serif; */
    
}

.title-subheading {
    color: rgb(238, 255, 0);
    color: rgb(255, 197, 126);
    width: 100%;
    font-size: 15px;
    margin: 0%;
    padding-top: 8%;
    font-family: 'Anek Malayalam', sans-serif;

}

.me {
    margin-left: 15%;
    border: 4px solid black;
}

@media (max-width:1400px) {
    #title {    
    }

    .me {
        margin: 12%;
        border-radius: 100%;
        border: 4px solid red;
    }
    
    
}

/*testimaonitall*/

#testimonials{
    background-color: rgb(245, 218, 218);
    text-align: center;
    color: black;
    font-weight: bolder;
}

.testimonial-heading{
    font-size: 50px;
    font-weight: bold;
    line-height: 1.5;
}

.carousel-item{
    padding: 7% 15%;
}



.testimonial-image{
    width: 35%;
    margin: 20px;

}



#press{

    padding: 100px;
    text-align: center;
}

.press-logo{
    width: 100%;
    margin-left: 50px;
    margin-right: 50px;
}


/*About*/

#about {
    background-color: #043ace;
    color: white;       
    text-align: center;
    padding: 15%;
    padding-top: 7%;
    
    /* background: url(image/myimage2.jpg) no-repeat center center fixed; 
    background-size: cover; */
}


.me2 {
    width: 50%;
    border-radius: 30%;
}

.about-heading {
    font-size: 50px;
    text-align: left;
    font-family: 'Cabin', sans-serif;
    font-weight: 800;
    padding: 5%;
    padding-left: 0%;

}

.about-discription {
    width: 70%;
    text-align: left;
    color: white;
    font-family: "Cabin", sans-serif;
    font-family: 'Anek Malayalam', sans-serif;
    font-weight: 100;
}

.pp{
    width: 100%;
    
}







